.container {
  background-image: url(../static/images/foto-casa1.png);
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

.formulario {
  padding: 40px;
  background-color:
  rgb(245, 245, 237);
  margin: 0 auto;
  width: 300px;
}
