.container {
  background-image: url(../static/images/Foto-casas2.png);
  background-size: cover;
  height: 200vh;
  padding: 20px;
}

.register {
  padding: 80px;
  background-color: rgb(224, 224, 221);
  display: inline-block;
}
