.container {
  background-image: url(../static/images/Foto-casas2.png);
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

.register {
  padding: 40px;
  background-color: #FE4236;
  display: inline-block;
}
